
body{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Sedan", serif;
    margin-bottom: 100px;
}

header{
    color: rgb(252, 228, 93);
    margin: 20px;
    font-size: 25px;
    justify-content: center;
    padding-left: 425px;
}

.cabeçario{
    margin: 20px;
}

.borda{
    color: rgb( 255,237,142);
}


.texto{
    margin-right: 10%;
    font-size: 25px;
    color: rgb(255, 248, 214);
}



.começo{
    background: rgb(201, 150, 23);
    padding-bottom: 80px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}



.categoria{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}



.videos{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.mitos{
    font-size: 25px;
    justify-content: center;
    padding-left: 450px;
    color: rgb( 255,237,142);
}

.categoria img{
 opacity: 0.5;
 height: 150px;
}

.categoria img:hover{
    opacity: 1.0;
    border: 2px solid gold
}



